.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ecf0f1;
  background-color: #878672;
  border-radius: 1.5em;
  padding-left: 7.5%;
}

.header-title {
  flex: 1;
  align-items: center;
  text-align: start;
}



